<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sublime</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @RenderSection("Styles", false)
</head>
<body>

    <div class="super_container">
        @RenderBody()
    </div>


    @RenderSection("Scripts", false)
</body>
</html>